<header class="site-header">
  <div class="container">
    <a class="brand" href="{{ "/" | relURL }}">
      <img src="{{ "images/opencourant-logo-dark.svg" | relURL }}" alt="OpenCourant" width="140" height="32">
    </a>
    <nav>
      <a href="{{ "/downloads/" | relURL }}">Downloads</a>
      <a href="{{ "/news/" | relURL }}">News</a>
      <a href="{{ site.Params.forum }}">Forum</a>
      <a href="{{ site.Params.chat }}">Chat</a>
      <a href="{{ site.Params.github }}">GitHub</a>
    </nav>
  </div>
</header>
